.App {
  text-align: center;
  position: fixed;
}

.App-logo {
  animation: App-logo-spin infinite 3s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -1px;
  font-size: calc( 3vmin);
  color: greenyellow;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  50%{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
